# {{ title }}
cmake_minimum_required(VERSION {{ cmake_version }})
project({{ project_name }})
set(CMAKE_C_STANDARD {{ clang_iso }})

set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} {% for item in opt_list %}{{ item }} {% endfor %})

{% for item in inc_dir_list %}
include_directories({{ item }})
{% endfor %}

{% if module_kind == ModuleKind.EXECUTABLE %}
add_executable({{ project_name }} {% for item in source_list %}{{ item }} {% endfor %})
{% elif module_kind == ModuleKind.ARCHIVE or module_kind == ModuleKind.SHAREDOBJ %}
add_library({{ project_name }} {% for item in source_list %}{{ item }} {% endfor %})
{% endif %}

{% if isLinkLibs %}
target_link_libraries({{ project_name }} {% for item in lib_list %}{{ item }} {% endfor %})
{% endif %}

